/* =========================
   PRETENDARD */

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* =========================
   GMARKET SANS */

@font-face {
  font-family: "Gmarket Sans";
  src: url("../fonts/GmarketSansMedium.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gmarket Sans";
  src: url("../fonts/GmarketSansBold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* =========================
  Accordion (Checkbox) - 배정호 작업 */

.accordion {
  width: 486px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.accordion-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.accordion-question {
  width: 100%;
  height: auto;
  padding: 12px 20px;
  cursor: pointer;
  border: 1px solid var(--gray);
  border-radius: var(--radius-s-plus);
  display: flex;
  justify-content: space-between;
}

.accordion-question p {
  font: var(--body-m-plus-400);
}

.accordion-question span {
  color: var(--medium-gray);
}

.accordion-answer {
  width: 100%;
  height: 0;
  padding: 0 20px;
  overflow: hidden;
  opacity: 0;
  border: 1px solid var(--gray);
  border-radius: var(--radius-s-plus);
  display: flex;
  flex-direction: column;
  gap: 32px;
  transition: 0.3s ease-out;
}

.accordion-answer p {
  font: var(--body-m-400);
}

.accordion-input:checked ~ .accordion-answer {
  height: auto;
  padding: 24px 20px;
  opacity: 1;
}

.accordion-input:checked + .accordion-question {
  background: var(--super-light-gray);
}

.accordion-input:checked + .accordion-question span {
  transform: rotate(180deg);
  color: var(--title-black);
  
}

.accordion-input:checked + .accordion-question p {
  font: var(--body-m-plus-500);
}
