

/* 전환 보조 자료 그룹 스타일 - 배정호 */

.conversion-support-group > section {
  display: flex;
  flex-direction: column;
}

.testimonial-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.testimonial-section .section-header {
  text-align: center;
}
.testimonial-section .section-header h2 {
  font:var(--heading-l)
}
.testimonial-section .section-header p {
  font:var(--heading-s)
}

.testimonial-section .testimonial-list {
  display: flex;
  gap: 24px;
}

.testimonial-section .testimonial-item {
  flex: 1 1 0;
}




/* 고정 버튼 스타일 - 배정호 작업 */

.fixed-text {
  color: var(--white);
}

.contact-us-button {
  background: var(--secondary);
}

.contact-us-button a {
  font-size: 48px;
}

.top-button {
  background: var(--button-container);
}

.top-button a {
  font-size: 96px;
}

/* 임시 크기 조정 */
img {
  max-width: 400px;
}
