/* =========================
   MATERIAL ICONS */

:root {
  /* =========================
   COLORS
  ========================= */

  --primary: #1e4ed8;
  --primary-hover: #436de5;
  --primary-active: #94abf0;
  --primary-alpha-10: #0034c51a;

  --secondary: #4f7cff;
  --secondary-hover: #6b91ff;
  --secondary-active: #8aa8ff;

  --secondary-alpha-30: #4f7cff4d;
  --secondary-alpha-10: #4f7cff1a;

  --near-black: #0f172a;
  --title-black: #1a1c1f;
  --main-black: #434657;

  --dark-gray: #475569;
  --medium-gray: #94a3b8;

  --gray: #e1e3e4;
  --gray-alpha-50: #e1e3e480;

  --light-gray: #f3f3f7;
  --super-light-gray: #f8fafc;

  --sky-blue: #f1f5f9;

  --white: #ffffff;
  --white-hover: #dbdbdb;
  --white-active: #9e9e9e;

  --white-alpha-70: #ffffffb3;
  --white-alpha-60: #ffffff99;
  --white-alpha-20: #ffffff33;
  --white-alpha-10: #ffffff1a;

  --bright-blue: #0046ff;

  --current-page: #2563eb;

  --crimson: #cc0000;

  --button-container: #747688;
  --button-container-hover: #9495a3;
  --button-container-active: #c5c6ce;

  --main-button: #e8e8ec;
  --main-button-alpha-50: #e8e8ec80;
  --main-button-hover: #d2d2da;
  --main-button-active: #bcbcc8;

  /* =========================
   GRADIENT
  ========================= */

  --glass-effect: linear-gradient(
    45deg,
    #1e4ed8b3 0%,
    #1e4ed866 24.52%,
    #1e4ed840 50%,
    #1e4ed81a 75%,
    #1e4ed80d 94.72%
  );

  /* =========================
   SHADOW
  ========================= */

  --shadow-elevated: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
  --shadow-default: 5px 10px 30px -10px #00000040;
  --button-shadow: inset 0 0 12px 0 #00000099;

  /* =========================
   FONT FAMILY
  ========================= */

  --font-gmarket: "Gmarket Sans", sans-serif;
  --font-pretendard: "Pretendard", sans-serif;

  /* =========================
   FONT SIZE
  ========================= */
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-36: 36px;
  --font-size-48: 48px;

  /* =========================
   LINE HEIGHT
  ========================= */

  --line-height-full: 100%;
  --line-height-27: 27px;
  --line-height-32: 32px;
  --line-height-48: 48px;
  --line-height-64: 64px;

  --line-height-auto: normal;

  /* =========================
   LETTER SPACING
  ========================= */

  --letter-spacing-0: 0;
  --letter-spacing-2: 2px;

  /* =========================
   FONT WEIGHT
  ========================= */

  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  /* =========================
   RADIUS (추천 추가)
  ========================= */

  --radius-s: 8px;
  --radius-s-plus: 12px;
  --radius-m: 16px;
  --radius-m-plus: 20px;
  --radius-l: 24px;

  /* =========================
   TYPOGRAPHY
  ========================= */

  --heading-l: 500 36px/64px var(--font-gmarket);
  --heading-l-tight: 500 36px/100% var(--font-gmarket);
  --heading-m: 500 24px/48px var(--font-gmarket);
  --heading-s: 500 18px/32px var(--font-gmarket);
  --heading-x-s: 500 18px/32px var(--font-pretendard);
  --heading-x-x-s: 500 16px/32px var(--font-pretendard);

  --body-l: 500 18px/32px var(--font-pretendard);
  --body-m-plus-400: 400 16px/27px var(--font-pretendard);
  --body-m-plus-500: 500 16px/27px var(--font-pretendard);
  --body-m-400: 400 14px/27px var(--font-pretendard);
  --body-m-500: 500 14px/27px var(--font-pretendard);

  --caption-m: 500 12px/27px var(--font-pretendard);
  --caption-s: 500 10px/27px var(--font-pretendard);

  --display-700: 700 48px/64px var(--font-gmarket);
  --display-500: 500 48px/64px var(--font-gmarket);
  --lead-m: 500 18px/27px var(--font-gmarket);

  --label-l: 500 20px/32px var(--font-pretendard);
  --label-m-700: 700 18px/auto var(--font-pretendard);
  --label-m-500: 500 16px/auto var(--font-pretendard);
}
